<div class="preloader bg-plum-plate bg-animation" [ngClass]="windowLoad ? 'hidden':''">
  <div class="font-icon-wrapper float-left mr-3 mb-3 border-0">
    <div class="loader-wrapper d-flex justify-content-center align-items-center">
      <div class="loader">
        <div class="ball-scale-multiple">
          <div class="bg-white"></div>
          <div class="bg-white"></div>
          <div class="bg-white"></div>
        </div>
      </div>
    </div>
  <p class="font-weight-bold">Chargement ...</p>
  </div>

<!--    <img src="assets/images/preloader.svg" alt="preloader" >-->

</div>



