
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-news-paper icon-gradient bg-night-fade">
          </i>
        </div>
        <div>Gestion des commandes
          <div class="page-title-subheading">Enregistrez et gérez le suivi des commandes</div>
        </div>
      </div>
      <div class="page-title-actions" >
        <div class="d-inline-block ">
          <button (click)="openCommandModal(orderModal)" type="button" data-toggle="tooltip" title="nouvelle commande" class="btn-shadow btn btn-primary">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-plus fa-w-20"></i>
                                        </span>
            Commande
          </button>
        </div>
      </div>
    </div>
  </div>
<!--  <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">-->
<!--    <li class="nav-item">-->
<!--      <div class="search-wrapper" [ngClass]="displaySearchBar? 'active' : ''">-->
<!--        <div class="input-holder">-->
<!--          <input type="text" class="search-input" placeholder="Rechercher client">-->
<!--          <button class="search-icon" (click)="!displaySearchBar ? searchBar() : findClient()"><span></span></button>-->
<!--        </div>-->
<!--        <button class="close"(click)="searchBar()"></button>-->
<!--      </div>-->
<!--    </li>-->
<!--  </ul>-->
<!-- si le client est trouvé on affiche ses informations-->
<!--  <div class="tab-content">-->
<!--    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">-->
<!--      <div class="main-card mb-3 card">-->
<!--        <div class="card-body">-->
<!--          <div class="card-title">Résultat de la recherche</div>-->
<!--          &lt;!&ndash;          si la recherche n'est pas trouvée&ndash;&gt;-->
<!--          <ng-template>-->
<!--            <div class="text-center">-->
<!--              <p>Oups... Désolé ce client n'est pas encore enregistré</p>-->
<!--            </div>-->
<!--          </ng-template>-->

<!--          &lt;!&ndash;          si la recherche est trouvée&ndash;&gt;-->
<!--          <ng-template></ng-template>-->

<!--          <p>With supporting text below as a natural lead-in to additional content.</p>-->
<!--          <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p></div>-->
<!--        <div class="d-block text-right card-footer">-->
<!--          <button class="mr-2 btn btn-link btn-sm">Cancel</button>-->
<!--          <button class="btn btn-success btn-lg" (click)="openCommandModal(clientModal)">Save</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="row" >
    <div class="col-md-12">
      <div class="main-card mb-3 card " id="htmlData">
        <div class="card-header">
          Liste des commandes
          <div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group">
              <input type="text" placeholder="Rechercher nom client" [(ngModel)]="name"  class="form-control form-control-sm mr-3">
              <input type="text" placeholder="Rechercher ref client" [(ngModel)]="refCli" class="form-control form-control-sm mr-3">
              <input type="date" placeholder="Rechercher date" [(ngModel)]="date" class="form-control form-control-sm mr-3">
              <input type="text" placeholder="Rechercher ref commande" [(ngModel)]="internalRef" class="form-control form-control-sm mr-3">
              <!--              <button class="btn btn-sm mr-3 text-primary" (click)="searchByName()"><i class="fa fa-search"></i></button>-->
            </div>
          </div>
        </div>

        <div class="table-responsive" >
          <table class="align-middle mb-0 table table-sm table-borderless table-hover" id="element-pannes">
            <thead>
            <tr>
              <th class="">Ref#</th>
              <th class="">Date</th>
              <th class="">Nom Client</th>
              <th class="">Ref client</th>
              <th class="">Canal</th>
              <th class="">Magasin</th>
              <th class="">Statut</th>
              <!--<th class="text-center">Actions</th>-->
            </tr>
            </thead>
            <tbody>
            <tr style="cursor: pointer" routerLink="/commandes/edit/{{order.internalReference}}" *ngFor="let order of orders
            | clientNameFilter: name | clientRefFilter: refCli | orderRefFilter: internalRef
                 | orderDateFilter: date | paginate: { id: 'order', itemsPerPage: size, currentPage: page, totalItems: totalElements} ">
              <td class="text-left">{{order.internalReference}}</td>
              <td class="text-left">{{order.createdAt | date: 'dd/MM/yyyy'}}</td>
              <td class="text-left">{{order.completeName }}</td>
              <td class="text-left">{{order.client.internalReference }}</td>
              <td class="text-left">{{order.channel }}</td>
              <td class="text-left">{{order.localisation}}</td>
              <td class="text-left" > <span class="text-focus">{{getStatuts(order.status.name)}}</span> </td>
            </tr>

            </tbody>

          </table>
<!--          dans le cas où aucune commande n'est trouvée-->
<!--          <ng-template [ngIf]="orders.length == 0">-->
<!--            <p style="color: grey; font-size: 1.8rem;" class="text-center" >Aucune commande trouvée !</p>-->
<!--          </ng-template>-->
          <div class="text-center">
            <p *ngIf="(orders | clientNameFilter: name | clientRefFilter: refCli | orderRefFilter: internalRef
                 | orderDateFilter: date).length == 0" style="color: grey; font-size: 1.8rem;" class="mx-auto" >Aucune commande trouvée !</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-actions-pane-left">
            <div role="group" class="btn-group-sm btn-group">
              Total : <b>{{ orders.length }} </b>
            </div>
          </div>
          <div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group">
              <pagination-controls
                id="order"
                previousLabel="Précédent"
                nextLabel="Suivant"
                (pageChange)="pageChange($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--formulaire création commande-->
<ng-template #orderModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title timeline-title" id="modal-basic-titles"><b>{{title}}</b> </h6>
    <div class="close vertical-timeline-element-content bounce-in" (click)=" modal.close('save click'); annuler()" >
<!--      <span class="timeline-title"><b>machine</b></span>-->
      <p><i class="fa fa-times"></i></p>
    </div>
  </div>
  <div class="modal-body" *ngIf="!showClientForm">
    <div class="">
      <div class="">
        <form [formGroup]="orderForm">
              <div class="row">
                <div class="col-md-6">
                <div class="card">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-9">
                        <div class="position-relative form-group">
                          <label for="clientref" class="">Client *</label>
<!--                          <input type="text" id="clientref" (ngModelChange)="findClients($event)" autocomplete="off" class="form-control" formControlName="client" list="clientsListOption" placeholder="cherchez un client">-->
<!--                          <datalist id="clientsListOption">-->
<!--&lt;!&ndash;                            <option value="aucun client trouvé" *ngIf="clients.length == 0">not found</option>&ndash;&gt;-->
<!--                            <option *ngFor="let client of clients" [value]="client.completeName">-->
<!--                              <span *ngIf="!client">not found</span>-->
<!--                            </option>-->
<!--                          </datalist>-->
                          <input type="text" id="clientref" autocomplete="off" class="form-control" formControlName="client" list="clientsListOption">
                          <datalist id="clientsListOption">
                            <option value="" selected disabled hidden>Sélectionner un client</option>
                            <option *ngFor="let client of clients" [value]="client.completeName"></option>
                          </datalist>
                        </div>
                        <div
                          *ngIf="orderForm.controls['client'].invalid && (orderForm.controls['client'].dirty || orderForm.controls['client'].touched)"
                          class="mb-2" style="color: #f65656; font-style: italic;">

                          <div *ngIf="orderForm.controls['client'].errors?.['required']" class="ml-3">
                            le choix du client est obligatoire.
                          </div>
                          <!--                            <div *ngIf="orderForm.controls['client'].errors?.['minLength']" class="ml-3">-->
                          <!--                              entrez une description valide-->
                          <!--                            </div>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="position-relative form-group">
                          <label class="text-white">Client *</label>
                          <button (click)="showClientForms()" class="btn btn-primary">+ client</button>
                        </div>
                      </div>
                    </div>

                  </div>

<!--                  <div class="col-md-12">-->
<!--                    <div class="position-relative form-group">-->
<!--                      <label for="bc" class="">Bon de commande</label>-->
<!--                      <input name="email" id="bc" placeholder="entrer le numéro du bon" type="text" class="form-control" formControlName="voucherNumber">-->
<!--                    </div>-->
<!--                  </div>-->

                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="canal" class="">Canal</label>
                      <select name="select" id="canal" class="form-control" formControlName="chanel">
                        <option value="" selected disabled hidden>Sélectionner un canal</option>
                        <option *ngFor="let can of canaux">{{can}}</option>
                      </select>
                    </div>
                    <div
                      *ngIf="orderForm.controls['chanel'].invalid && (orderForm.controls['chanel'].dirty || orderForm.controls['chanel'].touched)"
                      class="mb-2" style="color: #f65656; font-style: italic;">

                      <div *ngIf="orderForm.controls['chanel'].errors?.['required']" class="ml-3">
                        le canal est obligatoire.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                      <div class="position-relative form-group">
                        <label for="mg" class="">Magasin</label>
                        <input placeholder="Sélectionner un magasin" type="text" id="mg" autocomplete="off" class="form-control" formControlName="store" list="storeListOption">
                        <datalist id="storeListOption">
                          <option value="" selected disabled hidden></option>
                          <option *ngFor="let store of stores" [value]="store.localization"></option>
                        </datalist>
                      </div>
                      <div
                        *ngIf="orderForm.controls['store'].invalid && (orderForm.controls['store'].dirty || orderForm.controls['store'].touched)"
                        class="mb-2" style="color: #f65656; font-style: italic;">

                        <div *ngIf="orderForm.controls['store'].errors?.['required']" class="ml-3">
                          le choix du magasin est obligatoire.
                        </div>
<!--                        <div *ngIf="orderForm.controls['store'].errors?.['minLength']" class="ml-3">-->
<!--                          entrez une description valide-->
<!--                        </div>-->
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="position-relative form-group">
                        <label for="rc" class="">Référence client</label>
                        <input placeholder="Ref cli" type="text" id="rc" autocomplete="off" class="form-control" formControlName="refCli">
                      </div>
                      <div
                        *ngIf="orderForm.controls['refCli'].invalid && (orderForm.controls['refCli'].dirty || orderForm.controls['refCli'].touched)"
                        class="mb-2" style="color: #f65656; font-style: italic;">

                        <div *ngIf="orderForm.controls['refCli'].errors?.['required']" class="ml-3">
                          la référence du client est obligatoire.
                        </div>
                        <div *ngIf="orderForm.controls['refCli'].errors?.['minLength']" class="ml-3">
                          entrez une référence valide
                        </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="delais" class="">Délais de livraison</label>
                      <input placeholder="délais" type="text" id="delais" autocomplete="off" class="form-control" formControlName="delais">
                    </div>
                    <div
                      *ngIf="orderForm.controls['delais'].invalid && (orderForm.controls['delais'].dirty || orderForm.controls['delais'].touched)"
                      class="mb-2" style="color: #f65656; font-style: italic;">

                      <div *ngIf="orderForm.controls['delais'].errors?.['required']" class="ml-3">
                        le délais est obligatoire.
                      </div>
<!--                      <div *ngIf="orderForm.controls['delais'].errors?.['minLength']" class="ml-3">-->
<!--                        entrez une référence valide-->
<!--                      </div>-->
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="description" class="">Description</label>
                      <input placeholder="description" type="text" id="description" autocomplete="off" class="form-control" formControlName="description">
                    </div>
                    <div
                      *ngIf="orderForm.controls['description'].invalid && (orderForm.controls['description'].dirty || orderForm.controls['description'].touched)"
                      class="mb-2" style="color: #f65656; font-style: italic;">

                      <div *ngIf="orderForm.controls['description'].errors?.['required']" class="ml-3">
                        la référence du client est obligatoire.
                      </div>
                      <div *ngIf="orderForm.controls['description'].errors?.['minLength']" class="ml-3">
                        entrez une référence valide
                      </div>
                    </div>
                  </div>
                </div>

              </div>
                <div class="col-md-6">
                <div class="main-card card">
                  <div class="card-body">
                    <div class="row col-md-12">
                      <div class="col-md-5">
                        <div class="position-relative form-group">
                          <label for="tb" class="">Type de coupon</label>
                          <select name="select" id="tb" class="form-control" formControlName="voucherType">
                            <option value="" selected disabled hidden>Sélectionner un coupon</option>
                            <option *ngFor="let tVoucher of vouchers">{{tVoucher.amount}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="position-relative form-group">
                          <label for="qte" class="">Quantité *</label>
                          <input name="email" id="qte" placeholder="entrer une quantité" type="text" class="form-control" formControlName="quantity">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="position-relative form-group">
                          <label for="add" class="text-white">ajouter</label>
                          <button id="add" class=" btn btn-primary float-right"
                                  [disabled]="orderForm.controls['quantity'].invalid && orderForm.controls['voucherType'].invalid"
                                  (click)="addProduct()">+</button>
                        </div>
                      </div>
                    </div>
                    <h5 class="card-title">Liste des carnets</h5>
                    <table class="mb-0 table table-sm">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Type de bon</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let prod of tabProducts; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{prod.voucher}}</td>
                        <td>{{prod.quantity}}</td>
                        <td>{{prod.total}}</td>
                        <td><i class="pe-7s-trash text-danger" (click)="removeProduct(prod)"></i></td>
                      </tr>
                      </tbody>
                      <tfoot>
                      <div class="float-right">Total: {{totalOrder}} Fcfa</div>
                      </tfoot>
                    </table>
                    <p *ngIf="tabProducts.length == 0" class="text-focus text-center">Ajouter des produits à la commande</p>
                  </div>
                </div>
              </div>
              </div>
          <button class="mt-1 btn btn-primary float-right ml-3" (click)="saveOrder()"
          [disabled]="(tabProducts.length == 0 || orderForm.controls['client'].invalid || orderForm.controls['store'].invalid ||
           orderForm.controls['chanel'].invalid || orderForm.controls['refCli'].invalid || orderForm.controls['delais'].invalid
             || orderForm.controls['description'].invalid) || (isLoading$ | async) "
          >
            <i *ngIf="isLoading$ | async" class="fa fa-spinner fa-spin"></i>&nbsp;
            <span *ngIf="isLoading$ | async">Enregistrement ...</span>
            <span *ngIf="!(isLoading$ | async)">Enregistrer commande</span>
          </button>
          <button class="mt-1 btn btn-secondary float-right" (click)="annuler()"><i class="pe-7s-back"></i>Annuler</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-body" *ngIf="showClientForm">
    <div class="">
      <div class="">
        <form [formGroup]="clientForm">
          <div class="row">
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="email" class="">Email</label>
                <input name="email" id="email" placeholder="email"  type="email" class="form-control" formControlName="email">
              </div>
              <div *ngIf="clientForm.controls['email'].invalid && (clientForm.controls['email'].dirty || clientForm.controls['email'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="clientForm.controls['email'].errors?.['required']" class="ml-3">
                  l'email est obligatoire.
                </div>
                <div *ngIf="clientForm.controls['email'].errors?.['email']" class="ml-3">
                  entrez une email valide : example@example.com
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="name" class="">Nom complet</label>
                <input name="completeName" id="name" placeholder="nom complet" type="text" class="form-control" formControlName="completeName">
              </div>
              <div *ngIf="clientForm.controls['completeName'].invalid && (clientForm.controls['completeName'].dirty || clientForm.controls['completeName'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="clientForm.controls['completeName'].errors?.['required']" class="ml-3">
                  le nom est obligatoire.
                </div>
                <div *ngIf="clientForm.controls['completeName'].errors?.['minLength']" class="ml-3">
                  entrez un nom valide : example@example.com
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="reason" class="">Raison sociale</label>
                <input name="email" id="reason" placeholder="nom société" type="text" class="form-control" formControlName="companyName">
              </div>
              <div *ngIf="clientForm.controls['companyName'].invalid && (clientForm.controls['companyName'].dirty || clientForm.controls['companyName'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="clientForm.controls['companyName'].errors?.['required']" class="ml-3">
                  le nom de la compagnie est obligatoire.
                </div>
                <div *ngIf="clientForm.controls['companyName'].errors?.['minLength']" class="ml-3">
                  entrez un nom de compagnie valide
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="address" class="">Adresse</label>
                <input name="email" id="address" placeholder="adresse" type="text" class="form-control" formControlName="address">
              </div>
              <div *ngIf="clientForm.controls['address'].invalid && (clientForm.controls['address'].dirty || clientForm.controls['address'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="clientForm.controls['address'].errors?.['required']" class="ml-3">
                  l'adresse est obligatoire.
                </div>
                <div *ngIf="clientForm.controls['address'].errors?.['minLength']" class="ml-3">
                  entrez une adresse valide
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="phone" class="">Numéro de téléphone</label>
                <input name="email" id="phone" placeholder="with a placeholder" type="text" class="form-control" formControlName="phone">
              </div>
              <div *ngIf="clientForm.controls['phone'].invalid && (clientForm.controls['phone'].dirty || clientForm.controls['phone'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="clientForm.controls['phone'].errors?.['required']" class="ml-3">
                  le numéro de téléphone est obligatoire.
                </div>
                <div *ngIf="clientForm.controls['phone'].errors?.['pattern']" class="ml-3">
                  Le numéro de téléphone doit comporter 9 chiffres commençant par 2 ou 6
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="rccm" class="">RCCM</label>
                <input name="email" id="rccm" placeholder="RCCM" type="text" class="form-control" formControlName="rccm">
              </div>
              <div *ngIf="clientForm.controls['rccm'].invalid && (clientForm.controls['rccm'].dirty || clientForm.controls['rccm'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="clientForm.controls['rccm'].errors?.['required']" class="ml-3">
                  le numéro de téléphone est obligatoire.
                </div>
                <div *ngIf="clientForm.controls['rccm'].errors?.['pattern']" class="ml-3">
                  Le numéro de téléphone doit comporter 9 chiffres commençant par 2 ou 6
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="comptnumber" class="">Numéro de compte Gulfcam</label>
                <input name="email" id="comptnumber" placeholder="Numéro de compte" type="text" class="form-control" formControlName="gulfcamAccountNumber">
              </div>
              <div *ngIf="clientForm.controls['gulfcamAccountNumber'].invalid && (clientForm.controls['gulfcamAccountNumber'].dirty || clientForm.controls['gulfcamAccountNumber'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="clientForm.controls['gulfcamAccountNumber'].errors?.['required']" class="ml-3">
                  le numéro de téléphone est obligatoire.
                </div>
                <div *ngIf="clientForm.controls['gulfcamAccountNumber'].errors?.['pattern']" class="ml-3">
                  Le numéro de téléphone doit comporter 9 chiffres commençant par 2 ou 6
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="typeClient" class="">Type de client</label>
                <select name="select" id="typeClient" class="form-control" formControlName="typeClient">
                  <option value="" selected disabled hidden>Sélectionner un type</option>
                  <option value="ENTREPRISE">Entreprise</option>
                  <option value="INSTITUTION">Institution</option>
                  <option value="PARTICULAR">Particulier</option>
                </select>

              </div>
              <div *ngIf="clientForm.controls['typeClient'].invalid && (clientForm.controls['typeClient'].dirty || clientForm.controls['typeClient'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="clientForm.controls['typeClient'].errors?.['required']" class="ml-3">
                  le type de client est obligatoire.
                </div>
<!--                <div *ngIf="clientForm.controls['typeClient'].errors?.['pattern']" class="ml-3">-->
<!--                  Le numéro de téléphone doit comporter 9 chiffres commençant par 2 ou 6-->
<!--                </div>-->
              </div>
            </div>
          </div>
          <button class="mt-1 btn btn-primary float-right ml-3" [disabled]="clientForm.invalid || (isLoading$ | async)" (click)="saveClientt()">
            <i *ngIf="isLoading$ | async" class="fa fa-spinner fa-spin"></i>&nbsp;
            <span *ngIf="isLoading$ | async">Enregistrement ...</span>
            <span *ngIf="!(isLoading$ | async)">Enregistrer client</span>
          </button>
          <button class="mt-1 btn btn-secondary float-right" (click)="annulerCommande()"><i class="pe-7s-back"></i>Annuler</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
