
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-user icon-gradient bg-night-fade">
        </i>
      </div>
      <div>Demande N° {{request.internalReference}}
        <div class="page-title-subheading">Description :{{request.description}}&nbsp;</div>
      </div>
    </div>
    <div class="page-title-actions">
      <button (click)="back()" type="button" data-toggle="tooltip" title="Retour à la page précédente" data-placement="bottom"
              class="btn-shadow mr-3 btn btn-outline-dark">
           <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-backward fa-w-20"></i>
                                        </span>
        Retour
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-header">
        Liste de ses tickets
        <div class="btn-actions-pane-right">
          <div role="group" class="btn-group-sm btn-group">
            <button *ngIf="statut == 'CREATED'" class="btn btn-success" [disabled]="(isLoading$ | async)"
                    title="valider une requête d'opposition" (click)="validRequest()">
              <i *ngIf="isLoading$ | async" class="fa fa-spinner fa-spin"></i>&nbsp;
              <span *ngIf="isLoading$ | async">Validation ...</span>
              <span
                *ngIf="!(isLoading$ | async)"><i class="pe-7s-check" ></i> Valider</span>
            </button>
          </div>
        </div>

      </div>

      <div class="table-responsive"  >

        <ng-container class="bg-white">
          <ng-container class="bg-white py-1 px-1">
            <table class="table table-hover bg-white" >
              <thead>
              <tr>
                <th ># </th>
                <th class="">Ref#</th>
                <th class="">Coupon</th>
                <th class="">Date</th>
                <th class="">Statut</th>
              </tr>
              </thead>
              <tbody *ngFor="let ticket of tickets | paginate: { id: 'ticket', itemsPerPage: size, currentPage: page, totalItems: totalElements } ; let i = index">

              <tr>
                <td>{{i + 1}}</td>
                <td class="text-left">{{ticket.internalReference}}</td>
                <td class="text-left">{{ticket.idCoupon}}</td>
                <td class="text-left">{{ticket.createdAt | date: 'dd/MM/yyyy'}}</td>
                <td class="text-left" > <span class="text-focus">{{getStatuts(ticket.status.name)}}</span> </td>
              </tr>
              </tbody>
            </table>
            <div class="text-center">
              <p *ngIf="tickets.length === 0" style="color: grey; font-size: 1.8rem;" class="mx-auto" >Aucun Ticket trouvé !</p>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="card-footer">
        <div class="btn-actions-pane-left">
          <div role="group" class="btn-group-sm btn-group">
            Total: <b>{{ tickets.length }} </b>
          </div>
        </div>
        <div class="btn-actions-pane-right">
          <div role="group" class="btn-group-sm btn-group">
            <!--              <pagination-controls id="client" (pageChange)="pageChange($event)" ></pagination-controls>-->
            <pagination-controls
              id="ticket"
              previousLabel="Précédent"
              nextLabel="Suivant"
              (pageChange)="pageChange($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

