<div class="app-container app-theme-white body-tabs-shadow fixed-header ">
  <app-header></app-header>
  <div class="app-main">
<!--    <app-sidebar></app-sidebar>-->
    <div class="app-main__outer">
      <div class="app-main__inner">

        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon">
                <i class="pe-7s-display1 icon-gradient bg-night-fade">
                </i>
              </div>
              <div>Tableau de bord
                <div class="page-title-subheading">Managez parfaitement la plateforme</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-xl-12">
          <div class="main-card mb-3 card">
            <div class="card-body">
<!--              <h5 class="card-title">Grid Menu Bigger</h5>-->
              <div class="grid-menu grid-menu-3col">
                <div class="no-gutters row">
                  <div class="col-sm-6 col-xl-4" routerLink="/commandes">
                  <!--<div class="col-sm-6 col-xl-4" routerLink="/commandes" *ngIf="roleUser === 'MANAGER_STORE' ||-->
                  <!-- roleUser === 'MANAGER_ORDER' || roleUser === 'MANAGER_COUPON' || role.includes('ROLE_ADMIN')">-->
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-news-paper btn-icon-wrapper btn-icon-lg mb-3"></i>Commandes
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/cartons">
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-box2 btn-icon-wrapper btn-icon-lg mb-3"></i>Cartons
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/magasins" *ngIf="roleUser === 'MANAGER_STORE' || roleUser === 'MANAGER_COUPON'">
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-home btn-icon-wrapper btn-icon-lg mb-3"></i>Magasins
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/coupons" >
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-cash btn-icon-wrapper btn-icon-lg mb-3"></i>Coupons
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/stations" >
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-home btn-icon-wrapper btn-icon-lg mb-3"></i>Station
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/carnets" >
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-box1 btn-icon-wrapper btn-icon-lg mb-3"></i>Carnets
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/paiement-method" >
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-piggy btn-icon-wrapper btn-icon-lg mb-3"></i>Méthodes de paiement
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/users" >
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-user btn-icon-wrapper btn-icon-lg mb-3"></i>Utilisateurs
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/clients" >
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-users btn-icon-wrapper btn-icon-lg mb-3"></i>Clients
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/entrepots" >
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-server btn-icon-wrapper btn-icon-lg mb-3"></i>Entrepôts
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/request-opposition">
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-server btn-icon-wrapper btn-icon-lg mb-3"></i>Demande d'opposition
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/credit-note">
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-server btn-icon-wrapper btn-icon-lg mb-3"></i>Note de credit
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/caisse">
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-server btn-icon-wrapper btn-icon-lg mb-3"></i>Caisse
                    </button>
                  </div>
                  <div class="col-sm-6 col-xl-4" routerLink="/stock" >
                    <button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
                      <i class="pe-7s-server btn-icon-wrapper btn-icon-lg mb-3"></i>Stock
                    </button>
                  </div>
                </div>
              </div>
              <div class="divider"></div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
