
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-box2 icon-gradient bg-night-fade">
        </i>
      </div>
      <div>Gestion des cartons
        <div class="page-title-subheading">Managez vos cartons</div>
      </div>
    </div>
    <div class="page-title-actions">
      <div class="d-inline-block ">
        <button type="button" data-toggle="tooltip" title="nouveau carton" class="btn-shadow mr-3 btn btn-primary" (click)="open(mymodal)">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-plus fa-w-20"></i>
                                        </span>
          Carton
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card " id="htmlData" #htmlData>
      <div class="card-header">
        Liste des cartons
        <div class="btn-actions-pane-right">
          <div role="group" class="btn-group-sm btn-group">
            <!--              <form >-->
            <!--                <input type="text" placeholder="Rechercher..." class="form-control form-control-sm">-->
            <!--              </form>-->
          </div>
        </div>

        <div class="btn-actions-pane-right">
          <div role="group" class="btn-group-sm btn-group">
            <div >
              <!--                <form >-->
              <!--                  <div class="form-row">-->

              <!--                    <div class="col-md-5">-->
              <!--                      <input type="date" placeholder="BCP002" class="form-control form-control-sm" formControlName="date1">-->
              <!--                    </div>-->
              <!--                    <div class="col-md-5">-->
              <!--                      <input type="date" placeholder="Electricien" class="form-control form-control-sm" formControlName="date2">-->
              <!--                    </div>-->
              <!--                    <div class="col-md-2">-->
              <!--                      <button class="btn-transition btn btn-sm btn-shadow btn-outline-primary form-control-sm form-control" type="submit"><i class="fa fa-search"></i></button>-->

              <!--                    </div>-->

              <!--                  </div>-->
              <!--                </form>-->
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive" >

        <ng-container class="bg-white">
          <!--            <ng-container *ngSwitchCase="DataState.LOADING_STATE" class="bg-white py-1 px-1">-->
          <!--              <div class="col-md-12 single-note-item text-center bg-white">-->
          <!--                <div class="spinner-border text-primary" role="status"></div>-->
          <!--              </div>-->
          <!--            </ng-container>-->
          <ng-container class="bg-white py-1 px-1">
            <table class="table table-hover bg-white" >
              <thead>
              <tr>
                <th>#</th>
                <th>Ref. interne</th>
                <th>Numéro du carton</th>
                <th>Numéro de série</th>
                <th>Magasin</th>
                <th>Entrepôt</th>
                <th>Magasinier</th>
                <th>Statut</th>
                <th>Date création</th>
                <th>Date modification</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody *ngFor="let carton of cartons; let i = index">

              <tr>
                <td>{{i + 1}}</td>
                <td>{{carton.internalReference}}</td>
                <td>{{carton.number}}</td>
                <td>{{carton.serialFrom}} - {{carton.serialTo}}</td>
                <td >
                  <span *ngFor="let store of stores">
                    <span *ngFor="let storeHouse of storeHouses">{{(storeHouse.internalReference === carton.idStoreHouse)
                    && storeHouse.idStore === store.internalReference ? store.localization : ''}}</span>

                  </span>
                </td>
                <td >
                  <span *ngFor="let storeHouse of storeHouses">{{storeHouse.internalReference === carton.idStoreHouse ? storeHouse.type : ''}}</span>
                </td>
                <td>{{carton.idStoreKeeper}}</td>
                <td>{{carton.status.name}}</td>
                <td>{{carton.createdAt}}</td>
                <td>{{carton.updateAt}}</td>
                <td>
                  <a style="cursor: pointer"  class="delete text-danger" (click)="deleteCarton(carton, i)" >
                    <i class="pe-7s-trash" title="supprimer"></i>
                  </a>&nbsp;
                  <a style="cursor: pointer"  class="text-primary" (click)="updateCartonModal(mymodal, carton)">
                    <i class="pe-7s-eyedropper" title="modifier"></i>
                  </a>
                </td>
              </tr>
            </table>
            <div class="text-center">
              <p *ngIf="cartons.length === 0" style="color: grey; font-size: 1.8rem;" class="mx-auto" >Aucun carton trouvé !</p>
            </div>
            <div class="card-footer">
              <div class="btn-actions-pane-left">
                <div role="group" class="btn-group-sm btn-group">
                  Total cartons: <b>{{ cartons.length }} </b>
                </div>
              </div>
              <div class="btn-actions-pane-right">
                <div role="group" class="btn-group-sm btn-group">
                  <!--              <pagination-controls id="client" (pageChange)="pageChange($event)" ></pagination-controls>-->
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal >
  <div class="modal-header">
    <h6 class="modal-title timeline-title" id="modal-basic-title"><b>{{modalTitle}}</b> </h6>
    <div class="close vertical-timeline-element-content bounce-in" (click)=" modal.close('save click')" >
      <p><i class="fa fa-times"></i></p>
    </div>
  </div>
  <div class="modal-body">
    <div class="">
      <div class="">
        <form [formGroup]="cartonForm">
          <div class="">
            <div class="col-md-12">
              <div class="position-relative form-group">
                <label for="store" class="">Magasins</label>
                <input type="text" (ngModelChange)="getStoreHouses($event)" ngModel="{{magasin}}" autocomplete="off" id="store" class="form-control"
                       formControlName="idStore" placeholder="choisir un magasin" list="storeListOption">
                <datalist id="storeListOption">
                  <option *ngFor="let store of stores" [value]="store.localization"></option>
                </datalist>
              </div>
              <div *ngIf="cartonForm.controls['idStore'].invalid && (cartonForm.controls['idStore'].dirty || cartonForm.controls['idStore'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="cartonForm.controls['idStore'].errors?.['required']" class="ml-3">
                  le magasin est obligatoire.
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <label for="storeHouse" class="">Entrepots de stockage</label>
                <input type="text"  autocomplete="off" ngModel="{{entrepot}}" id="storeHouse" class="form-control"
                       formControlName="idStoreHouse" placeholder="choisir un entrepot" list="storeHouseListOption">
                <datalist id="storeHouseListOption">
                  <option *ngFor="let storeHouse of storeHouses" [value]="storeHouse.internalReference">{{storeHouse.type}}</option>
                </datalist>
              </div>
              <div *ngIf="cartonForm.controls['idStoreHouse'].invalid && (cartonForm.controls['idStoreHouse'].dirty || cartonForm.controls['idStoreHouse'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="cartonForm.controls['idStoreHouse'].errors?.['required']" class="ml-3">
                  l'entrepôt est obligatoire.
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <label for="tb" class="">Type de coupon</label>
                <select name="select" id="tb" class="form-control" [(ngModel)]="typcoupon" formControlName="typeVoucher">
                  <option value="" selected  hidden>Sélectionner un coupon</option>
                  <option *ngFor="let tVoucher of vouchers">{{tVoucher.amount}}</option>
                </select>
              </div>
              <div *ngIf="cartonForm.controls['typeVoucher'].invalid && (cartonForm.controls['typeVoucher'].dirty || cartonForm.controls['typeVoucher'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="cartonForm.controls['typeVoucher'].errors?.['required']" class="ml-3">
                  le type de coupon est obligatoire.
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <label for="serialnumber" class="">Numéro du carton</label>
                  <input type="text" id="serialnumber" [(ngModel)]="sn" formControlName="number" class="form-control">
              </div>
              <div *ngIf="cartonForm.controls['number'].invalid && (cartonForm.controls['number'].dirty || cartonForm.controls['number'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="cartonForm.controls['number'].errors?.['required']" class="ml-3">
                  le numéro de série est obligatoire.
                </div>
<!--                <div *ngIf="cartonForm.controls['serialNumber'].errors?.['min']" class="ml-3">-->
<!--                  entrez un numéro supérieur-->
<!--                </div>-->
<!--                <div *ngIf="cartonForm.controls['serialNumber'].errors?.['max']" class="ml-3">-->
<!--                  entrez un numéro inférieur-->
<!--                </div>-->

              </div>
              <div *ngIf="(typcoupon == 10000 ) && (sn < 1 || sn > 100) && sn != ''" style="color: #f65656; font-style: italic;" >
                <span>*</span> Veuillez saisir une valeur comprise entre 0 et 100
              </div>
              <div *ngIf="(typcoupon == 5000 ) && (sn < 101 || sn > 130) && sn != '' " style="color: #f65656; font-style: italic;">
                <span>*</span> Veuillez saisir une valeur comprise entre 100 et 130
              </div>
              <div *ngIf="(typcoupon == 3000 ) && (sn < 131 || sn > 145) && sn != '' " style="color: #f65656; font-style: italic;">
                <span>*</span> Veuillez saisir une valeur comprise entre 131 et 145
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="serialnumber" class="">Numéro de série de</label>
                  <input type="text" id="serialnumber"  formControlName="serialTo" class="form-control">
                </div>
                <div *ngIf="cartonForm.controls['serialTo'].invalid && (cartonForm.controls['serialTo'].dirty || cartonForm.controls['serialTo'].touched)"
                     class="mb-2"  style="color: #f65656; font-style: italic;">

                  <div *ngIf="cartonForm.controls['serialTo'].errors?.['required']" class="ml-3">
                    le numéro de série est obligatoire.
                  </div>
                  <!--                <div *ngIf="cartonForm.controls['serialNumber'].errors?.['min']" class="ml-3">-->
                  <!--                  entrez un numéro supérieur-->
                  <!--                </div>-->
                  <!--                <div *ngIf="cartonForm.controls['serialNumber'].errors?.['max']" class="ml-3">-->
                  <!--                  entrez un numéro inférieur-->
                  <!--                </div>-->

                </div>
                <div *ngIf="(typcoupon == 10000 ) && (sn < 1 || sn > 100) && sn != ''" style="color: #f65656; font-style: italic;" >
                  <span>*</span> Veuillez saisir une valeur comprise entre 0 et 100
                </div>
                <div *ngIf="(typcoupon == 5000 ) && (sn < 101 || sn > 130) && sn != '' " style="color: #f65656; font-style: italic;">
                  <span>*</span> Veuillez saisir une valeur comprise entre 100 et 130
                </div>
                <div *ngIf="(typcoupon == 3000 ) && (sn < 131 || sn > 145) && sn != '' " style="color: #f65656; font-style: italic;">
                  <span>*</span> Veuillez saisir une valeur comprise entre 131 et 145
                </div>
              </div>
              <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="serialnumber" class="">Numéro de série à</label>
                  <input type="text" id="serialnumber"  formControlName="serialFrom" class="form-control">
                </div>
                <div *ngIf="cartonForm.controls['serialFrom'].invalid && (cartonForm.controls['serialFrom'].dirty || cartonForm.controls['serialFrom'].touched)"
                     class="mb-2"  style="color: #f65656; font-style: italic;">

                  <div *ngIf="cartonForm.controls['serialFrom'].errors?.['required']" class="ml-3">
                    le numéro de série est obligatoire.
                  </div>
                  <!--                <div *ngIf="cartonForm.controls['serialNumber'].errors?.['min']" class="ml-3">-->
                  <!--                  entrez un numéro supérieur-->
                  <!--                </div>-->
                  <!--                <div *ngIf="cartonForm.controls['serialNumber'].errors?.['max']" class="ml-3">-->
                  <!--                  entrez un numéro inférieur-->
                  <!--                </div>-->

                </div>
                <div *ngIf="(typcoupon == 10000 ) && (sn < 1 || sn > 100) && sn != ''" style="color: #f65656; font-style: italic;" >
                  <span>*</span> Veuillez saisir une valeur comprise entre 0 et 100
                </div>
                <div *ngIf="(typcoupon == 5000 ) && (sn < 101 || sn > 130) && sn != '' " style="color: #f65656; font-style: italic;">
                  <span>*</span> Veuillez saisir une valeur comprise entre 100 et 130
                </div>
                <div *ngIf="(typcoupon == 3000 ) && (sn < 131 || sn > 145) && sn != '' " style="color: #f65656; font-style: italic;">
                  <span>*</span> Veuillez saisir une valeur comprise entre 131 et 145
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="serialnumber" class="">de</label>
                  <input type="text" id="serialnumber"  formControlName="to" class="form-control">
                </div>
                <div *ngIf="cartonForm.controls['to'].invalid && (cartonForm.controls['to'].dirty || cartonForm.controls['to'].touched)"
                     class="mb-2"  style="color: #f65656; font-style: italic;">

                  <div *ngIf="cartonForm.controls['to'].errors?.['required']" class="ml-3">
                    le numéro de série est obligatoire.
                  </div>
                  <!--                <div *ngIf="cartonForm.controls['serialNumber'].errors?.['min']" class="ml-3">-->
                  <!--                  entrez un numéro supérieur-->
                  <!--                </div>-->
                  <!--                <div *ngIf="cartonForm.controls['serialNumber'].errors?.['max']" class="ml-3">-->
                  <!--                  entrez un numéro inférieur-->
                  <!--                </div>-->

                </div>
                <div *ngIf="(typcoupon == 10000 ) && (sn < 1 || sn > 100) && sn != ''" style="color: #f65656; font-style: italic;" >
                  <span>*</span> Veuillez saisir une valeur comprise entre 0 et 100
                </div>
                <div *ngIf="(typcoupon == 5000 ) && (sn < 101 || sn > 130) && sn != '' " style="color: #f65656; font-style: italic;">
                  <span>*</span> Veuillez saisir une valeur comprise entre 100 et 130
                </div>
                <div *ngIf="(typcoupon == 3000 ) && (sn < 131 || sn > 145) && sn != '' " style="color: #f65656; font-style: italic;">
                  <span>*</span> Veuillez saisir une valeur comprise entre 131 et 145
                </div>
              </div>
              <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="serialnumber" class="">à</label>
                  <input type="text" id="serialnumber"  formControlName="from" class="form-control">
                </div>
                <div *ngIf="cartonForm.controls['from'].invalid && (cartonForm.controls['from'].dirty || cartonForm.controls['from'].touched)"
                     class="mb-2"  style="color: #f65656; font-style: italic;">

                  <div *ngIf="cartonForm.controls['from'].errors?.['required']" class="ml-3">
                    le numéro de série est obligatoire.
                  </div>
                  <!--                <div *ngIf="cartonForm.controls['serialNumber'].errors?.['min']" class="ml-3">-->
                  <!--                  entrez un numéro supérieur-->
                  <!--                </div>-->
                  <!--                <div *ngIf="cartonForm.controls['serialNumber'].errors?.['max']" class="ml-3">-->
                  <!--                  entrez un numéro inférieur-->
                  <!--                </div>-->

                </div>
                <div *ngIf="(typcoupon == 10000 ) && (sn < 1 || sn > 100) && sn != ''" style="color: #f65656; font-style: italic;" >
                  <span>*</span> Veuillez saisir une valeur comprise entre 0 et 100
                </div>
                <div *ngIf="(typcoupon == 5000 ) && (sn < 101 || sn > 130) && sn != '' " style="color: #f65656; font-style: italic;">
                  <span>*</span> Veuillez saisir une valeur comprise entre 100 et 130
                </div>
                <div *ngIf="(typcoupon == 3000 ) && (sn < 131 || sn > 145) && sn != '' " style="color: #f65656; font-style: italic;">
                  <span>*</span> Veuillez saisir une valeur comprise entre 131 et 145
                </div>
              </div>
            </div>
          </div>
          <button class="mt-1 btn btn-secondary float-right ml-3" (click)="annuler()" ><i class="pe-7s-back"></i> Annuler</button>
          <button class="mt-1 btn btn-primary float-right" [disabled]="cartonForm.invalid || (isLoading$ | async)"
                  (click)="modalTitle == 'Enregistrer un nouveau carton' ? saveCarton() : updateCarton()">
            <i *ngIf="isLoading$ | async" class="fa fa-spinner fa-spin"></i>&nbsp;
            <span *ngIf="isLoading$ | async">Enregistrement ...</span>
            <span *ngIf="!(isLoading$ | async)">{{modalTitle == 'Enregistrer un nouveau carton' ? 'Enregistrer carton' : 'Modifier carton'}}</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
