
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-home icon-gradient bg-night-fade">
        </i>
      </div>
      <div>Magasin de {{store.localization}}
        <div class="page-title-subheading">Réference interne: #{{store.internalReference}}</div>
      </div>
    </div>
    <div class="page-title-actions">
      <button (click)="back()" type="button" data-toggle="tooltip" title="cartons" data-placement="bottom"
              class="btn-shadow mr-3 btn btn-outline-dark">
           <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-backward fa-w-20"></i>
                                        </span>
        Retour
      </button>
    </div>
  </div>
</div>

<div class="row" *ngIf="units">
  <div class="col-md-6 "  style="cursor: pointer;" *ngFor="let cdp of units" [ngClass]="units.length == 3 ? 'col-lg-4' : units.length == 2 ? 'col-lg-6' : 'col-lg-3'">
    <div class="mb-3 widget-chart widget-chart2 text-left card" [ngClass]="
            cdp.amount == 5000 ? 'card-shadow-danger' :
            cdp.amount == 3000 ? 'card-shadow-warning' : 'card-shadow-success'
            ">
      <div class="widget-content p-0 w-100">
        <div class="widget-content-outer">
          <div class="widget-content-left fsize-2">
            <div class="text-muted opacity-6" >Quantité de carnets <span class="float-right text-primary">{{formatNumber(cdp.quantityNoteBook)}}</span></div>
          </div>
          <div class="widget-content-wrapper">
            <div class="widget-content-left pr-2 fsize-1">
              <div class="widget-numbers mb-0 fsize-3" [ngClass]="cdp.amount == 5000 ? 'text-danger' :
            cdp.amount == 3000 ? 'text-warning' : 'text-success'">{{formatNumber(cdp.amount)}} <small>FCFA</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="main-card mb-3 card">-->
<!--  <div class="row">-->
<!--    <div class="col-md-4" *ngFor="let unit of units; let i = index">-->
<!--      <div class="widget-content">-->
<!--        <div class="widget-content-outer">-->
<!--          <div class="widget-content-wrapper">-->
<!--            <div class="widget-content-left">-->
<!--              <div class="widget-heading">Unité {{i + 1}}</div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="widget-progress-wrapper">-->
<!--            <div class="progress-sub-label">-->
<!--              <div class="sub-label-left">Type de coupon</div>-->
<!--              <div class="sub-label-right text-success font-weight-bold">-->
<!--                <span >{{unit.amount}}</span></div>-->
<!--&lt;!&ndash;                <span *ngFor="let voucher of vouchers">{{voucher.internalReference == unit.idTypeVoucher ? voucher.amount : ''}}</span></div>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="progress-sub-label">-->
<!--              <div class="sub-label-left">Quantité de carnet</div>-->
<!--              <div class="sub-label-right text-alternate">{{unit.quantityNoteBook}}</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card " id="htmlData">
      <div class="card-header">
        Liste de ses espaces de stockage
      </div>

      <div class="table-responsive" >
        <table class="align-middle mb-0 table table-sm table-borderless table-hover" id="element-pannes">
          <thead>
          <tr>
            <th class="">Ref#</th>
            <th class="">Date</th>
            <th class="">Nom de l'espace</th>
            <th class="">Type</th>
            <th class="">Statut</th>
          </tr>
          </thead>
          <tbody>
          <tr style="cursor: pointer" *ngFor="let storeHouse of storeHouses" routerLink="/entrepots/details/{{storeHouse.internalReference}}">
            <td class="text-left">{{storeHouse.internalReference}}</td>
            <td class="text-left">{{storeHouse.createAt | date: 'dd/MM/yyyy'}}</td>
            <td class="text-left">{{storeHouse.name}}</td>
            <td class="text-left" >{{storeHouse.type}}</td>
            <td class="text-left" > <span class="text-focus">{{getStatuts(storeHouse.status.name)}}</span> </td>
          </tr>

          </tbody>

        </table>
        <!--          dans le cas où aucune commande n'est trouvée-->
        <ng-template [ngIf]="!storeHouses.length">
          <p style="color: grey; font-size: 1.8rem;" class="text-center" >Aucun espace trouvé pour ce magasin</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>

