<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-cash icon-gradient bg-night-fade">
        </i>
      </div>
      <div>Note de crédit
        <div class="page-title-subheading">Gérez toutes les notes de crédit
        </div>
      </div>
    </div>
    <div class="page-title-actions">
      <button (click)="open(mymodal)" type="button" data-toggle="tooltip" title="nouvelle note de crédit" data-placement="bottom"
              class="btn-shadow mr-3 btn btn-primary">
           <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-plus fa-w-20"></i>
                                        </span>
        note
      </button>
    </div>
  </div>
</div>

<div class="col-lg-12 col-xl-12">
  <div class="main-card mb-3 card">
    <div class="card-body">
      <h5 class="card-title">Liste des notes de crédit</h5>
      <table class="table table-hover bg-white" id="servers">
        <thead>
        <tr>
          <th>#</th>
          <th>Ref. interne</th>
          <th>Station</th>
          <th>Coupon</th>
          <th>Statut</th>
          <th>Date creation</th>
          <th>Date modification</th>
          <th >Actions</th>
        </tr>
        </thead>
        <tbody *ngFor="let credit of creditNotes; let i = index">

        <tr>
          <td>{{i + 1}}</td>
          <td>{{credit.internalReference}}</td>
          <td>{{credit.station.designation}} </td>
          <td>{{credit.coupon[0].serialNumber}} </td>
          <td>{{getStatuts(credit.status.name)}}</td>
          <td>{{credit.createdAt | date: 'dd/MM/yyyy'}}</td>
          <td>{{credit.updateAt | date: 'dd/MM/yyyy'}}</td>
          <td>
<!--            <a  style="cursor: pointer" class=" text-success" data-toggle="tooltip" title="valider une note de crédit"-->
<!--               (click)="valid(credit.internalReference, i)">-->
<!--              <i class="pe-7s-check" ></i>-->
<!--            </a>-->
<!--            <a  style="cursor: pointer" class="delete text-danger" (click)="deleteStore(credit, i)">-->
<!--              <i class="pe-7s-trash" title="supprimer"></i>-->
<!--            </a>&nbsp;-->
<!--            <a  style="cursor: pointer" class="text-primary" (click)="updateStoreModal(mymodal, credit)">-->
<!--              <i class="pe-7s-eyedropper" title="modifier"></i>-->
<!--            </a>-->
<!--            <button *ngIf="credit.status.name != 'ACTIVATED'" class="btn btn-sm btn-success mr-2" (click)="valid(credit.internalReference, i)">-->
<!--              <i class="pe-7s-check" title="valider la note de crédit"></i>-->
<!--            </button>-->
<!--            <button class="btn btn-sm btn-primary" (click)="updateStoreModal(mymodal, credit)">-->
<!--              <i class="pe-7s-eyedropper" title="modifier"></i>-->
<!--            </button>-->
            <button class="btn btn-sm btn-secondary mr-2" (click)="creditNoteDetails(credit)">
              <i class="pe-7s-look" title="consulter"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-center">
        <p *ngIf="creditNotes.length === 0" style="color: grey; font-size: 1.8rem;" class="mx-auto" >Aucune note de crédit trouvée !</p>
      </div>
      <div class="card-footer">
        <div class="btn-actions-pane-left">
          <div role="group" class="btn-group-sm btn-group">
            Total : <b>{{ creditNotes.length }} </b>
          </div>
        </div>
        <div class="btn-actions-pane-right">
          <div role="group" class="btn-group-sm btn-group">
<!--            <pagination-controls-->
<!--              id="client" (pageChange)="pageChange($event)" ></pagination-controls>-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h6 class="modal-title timeline-title" id="modal-basic-title"><b>{{modalTitle}}</b></h6>
    <div class="close vertical-timeline-element-content bounce-in" (click)=" modal.close('save click')">
      <p><i class="fa fa-times"></i></p>
    </div>
  </div>
  <div class="modal-body">
    <div class="">
      <div class="">
        <form [formGroup]="creditForm">
          <div class="row">
            <div class="col-md-12">
              <div class="position-relative form-group">
                <label for="station" class="">Station</label>
                <select name="select" id="station" class="form-control" formControlName="idStation">
                  <option value="" selected disabled hidden>Sélectionner une station</option>
                  <option *ngFor="let station of stations" value="{{station.internalReference}}">{{station.designation}}</option>
                </select>
              </div>
            </div>
            <div class="row col-md-12">
              <div class="col-md-10">
                <div class="position-relative form-group">
                  <label for="qte" class="">Coupon</label>
                  <input name="email" id="qte" placeholder="Numéro de série du coupon" type="text" class="form-control"
                         formControlName="serialNumber">
                  <div
                    *ngIf="creditForm.controls['serialNumber'].invalid && (creditForm.controls['serialNumber'].dirty || creditForm.controls['serialNumber'].touched)"
                    class="mb-2" style="color: #f65656; font-style: italic;">

                    <div *ngIf="creditForm.controls['serialNumber'].errors?.['required']" class="ml-3">
                      le coupon est obligatoire.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="position-relative form-group">
                  <label for="add" class="text-white">ajouter</label>
                  <button id="add" class=" btn btn-primary float-right"
                          [disabled]="creditForm.controls['serialNumber'].invalid"
                          (click)="addCoupon()">Ajouter</button>
                </div>
              </div>
            </div>
            <div class="col-md-12 position-relative form-group">
              <h5 class="card-title">Liste des coupons</h5>
              <table class="mb-0 table table-sm">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Coupon</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let prod of vouchers; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{prod}}</td>
                  <td><i class="pe-7s-trash text-danger" (click)="removeCoupon(prod)"></i></td>
                </tr>
                </tbody>
              </table>
              <div class="text-center">
                <p *ngIf="vouchers.length === 0" style="color: grey; font-size: 0.9rem;" class="mx-auto" >Ajouter des coupons à la note de crédit</p>
              </div>
              <div class="card-subtitle float-right">Total: {{vouchers.length}} coupon(s)</div>
            </div>
          </div>
          <button class="mt-1 btn btn-secondary float-right ml-3" (click)="annuler()"><i class="pe-7s-back"></i>Annuler
          </button>
          <button class="mt-1 btn btn-primary float-right" [disabled]="creditForm.controls['idStation'].invalid || vouchers.length == 0 || (isLoading$ | async)"
                  (click)="modalTitle == 'Enregistrer nouvelle note de credit' ? createCreditNote() : updateRequest()">
            <i *ngIf="isLoading$ | async" class="fa fa-spinner fa-spin"></i>&nbsp;
            <span *ngIf="isLoading$ | async">Enregistrement ...</span>
            <span
              *ngIf="!(isLoading$ | async)">{{modalTitle == 'Enregistrer nouvelle note de credit' ? 'Enregistrer note' : 'Modifier note'}}</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
