<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-home icon-gradient bg-night-fade">
        </i>
      </div>
      <div>Gestion des méthodes de paiement
        <div class="page-title-subheading">Managez vos méthodes de paiement
        </div>
      </div>
    </div>
    <div class="page-title-actions">
      <button (click)="open(mymodal)" type="button" data-toggle="tooltip" title="ajouter une méthode de paiement" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
           <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-plus fa-w-20"></i>
                                        </span>
        Ajouter
      </button>
    </div>    </div>
</div>

<div class="col-lg-12 col-xl-12">
  <div class="main-card mb-3 card">
    <div class="card-body">
      <h5 class="card-title">Liste des méthodes de paiement</h5>
      <table class="table table-hover bg-white" id="servers">
        <thead>
        <tr>
          <th>#</th>
          <th>Ref. interne</th>
          <th>Localisation</th>
          <!--            <th>Statut</th>-->
          <th>Date creation</th>
          <th>Date modification</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngFor="let payment of paiementMethods; let i = index">

        <tr>
          <td>{{i + 1}}</td>
          <td>{{payment.internalReference}}</td>
          <td>{{payment.designation}} </td>
          <!--            <td>{{store.status.name}}</td>-->
          <td> {{payment.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td> {{payment.updateAt | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td>
            <a style="cursor: pointer"  class="delete text-danger" (click)="deletePayment(payment, i)" >
              <i class="pe-7s-trash" title="supprimer"></i>
            </a>&nbsp;
            <a style="cursor: pointer"  class="text-primary" (click)="updatePaymentModal(mymodal, payment)">
              <i class="pe-7s-eyedropper" title="modifier"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="card-footer">
        <div class="btn-actions-pane-left">
          <div role="group" class="btn-group-sm btn-group">
            Total : <b>{{ paiementMethods.length }} </b>
          </div>
        </div>
        <div class="btn-actions-pane-right">
          <div role="group" class="btn-group-sm btn-group">
            <!--              <pagination-controls id="client" (pageChange)="pageChange($event)" ></pagination-controls>-->
          </div>
        </div>
      </div>

      <div class="text-center">
        <p *ngIf="paiementMethods.length === 0" style="color: grey; font-size: 1.8rem;" class="mx-auto" >Aucune méthode de paiement trouvée !</p>
      </div>

    </div>
  </div>
</div>

<ng-template #mymodal let-modal >
  <div class="modal-header">
    <h6 class="modal-title timeline-title" id="modal-basic-title"><b>{{modalTitle}}</b> </h6>
    <div class="close vertical-timeline-element-content bounce-in" (click)=" modal.close('save click'); annuler()" >
      <p><i class="fa fa-times"></i></p>
    </div>
  </div>
  <div class="modal-body">
    <div class="">
      <div class="">
        <form [formGroup]="buyForm">
          <div class="row">
            <div class="col-md-12">
              <div class="position-relative form-group">
                <label for="localisation" class="">Désignation</label>
                <input name="amount" ngModel="{{paiementMethod.designation}}" id="localisation" placeholder="désignation" type="text" class="form-control" formControlName="designation">
              </div>
              <div *ngIf="buyForm.controls['designation'].invalid && (buyForm.controls['designation'].dirty || buyForm.controls['designation'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="buyForm.controls['designation'].errors?.['required']" class="ml-3">
                  la désignation est obligatoire.
                </div>
                <div *ngIf="buyForm.controls['designation'].errors?.['minLength']" class="ml-3">
                  entrez une désignation valide
                </div>
              </div>
            </div>
          </div>
          <button class="mt-1 btn btn-secondary float-right ml-3" (click)="annuler()" ><i class="pe-7s-back"></i>Annuler</button>
          <button class="mt-1 btn btn-primary float-right" [disabled]="buyForm.invalid || (isLoading$ | async)"
                  (click)="modalTitle == 'Enregistrer méthode de paiement' ? createPaiementMethod() : updatePayment()">
            <i *ngIf="isLoading$ | async" class="fa fa-spinner fa-spin"></i>&nbsp;
            <span *ngIf="isLoading$ | async">Enregistrement ...</span>
            <span *ngIf="!(isLoading$ | async)">{{modalTitle == 'Enregistrer méthode de paiement' ? 'Enregistrer méthode' : 'Modifier méthode'}}</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
