
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-close-circle icon-gradient bg-night-fade">
        </i>
      </div>
      <div>Note de crédit N° {{creditNote.internalReference}}
        <div class="page-title-subheading">Date :{{creditNote.createdAt | date: 'dd/MM/yyyy'}}&nbsp;</div>
      </div>
    </div>
    <div class="page-title-actions">
      <button (click)="back()" type="button" data-toggle="tooltip" title="Retour à la page précédente" data-placement="bottom"
              class="btn-shadow mr-3 btn btn-outline-dark">
           <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-backward fa-w-20"></i>
                                        </span>
        Retour
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-header">
        Liste de ses coupons
        <div class="btn-actions-pane-right">
          <div role="group" class="btn-group-sm btn-group">
            <button *ngIf="statut == 'CREATED'" class="btn btn-success" [disabled]="(isLoading$ | async)"
                    title="valider une note de crédit" (click)="validCreditNote()">
              <i *ngIf="isLoading$ | async" class="fa fa-spinner fa-spin"></i>&nbsp;
              <span *ngIf="isLoading$ | async">Validation ...</span>
              <span
                *ngIf="!(isLoading$ | async)"><i class="pe-7s-check" ></i> Valider</span>
            </button>
          </div>
        </div>

      </div>

      <div class="table-responsive"  >

        <ng-container class="bg-white">
          <ng-container class="bg-white py-1 px-1">
            <table class="table table-hover bg-white" >
              <thead>
              <tr>
                <th>#</th>
                <th>Ref. interne</th>
                <th>Numéro de série</th>
                <th>Carnet</th>
                <th>Statut</th>
                <th>Note credit</th>
                <th>Date</th>
              </tr>
              </thead>
              <tbody *ngFor="let coupon of coupons; let i = index">

              <tr>
                <td>{{i + 1}}</td>
                <td>{{coupon.internalReference}}</td>
                <td>{{padWithZero(coupon.serialNumber, 7)}}</td>
                <td>{{coupon.idNotebook}}</td>
                <td>{{getStatuts(coupon.status.name)}}</td>
                <td>{{coupon.idCreditNote}}</td>
                <td>{{coupon.createdAt | date: 'dd/MM/yyyy'}}</td>
              </tr>
              </tbody>
            </table>
          </ng-container>
        </ng-container>
      </div>
      <div class="card-footer">
        <div class="btn-actions-pane-left">
          <div role="group" class="btn-group-sm btn-group">
            Total: <b>{{ coupons.length }} </b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

