<app-preloader></app-preloader>

<router-outlet></router-outlet>

<!--<div style="text-align: center;">-->
<!--  online : {{online$ | async  | json}}<br>-->
<!--  <h2>-->
<!--    Internet Connection Status:-->
<!--    {{ networkStatus ? "IS CONNECTED" : "NOT CONNECTED" }}-->
<!--  </h2>-->
<!--</div>-->

<!--<div *ngIf="noInternetConnection" style="text-align: center;">-->
<!--  <h1>THERE IS NO INTERNET CONNECTION</h1>-->

<!--  <img width="111px" src="assets/images/no_wifi.png" alt="Wifi Connected"/>-->
<!--</div>-->
<!--<div *ngIf="!noInternetConnection" style="text-align: center;">-->
<!--<h1>INTERNET CONNECTION IS THERE</h1>-->

<!--<img width="111px" src="assets/images/wifi.png" alt="Wifi Disconnected"/>-->
<!--</div>-->


