
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-users icon-gradient bg-night-fade">
        </i>
      </div>
      <div>Gestion des entrepots
        <div class="page-title-subheading">Managez vos entrepots</div>
      </div>
    </div>
    <div class="page-title-actions">
      <div class="d-inline-block ">
        <button type="button" data-toggle="tooltip" title="nouvel entrepot" class="btn-shadow mr-3 btn btn-primary" (click)="open(mymodal)">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-plus fa-w-20"></i>
                                        </span>
          Entrepot
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card " id="htmlData" #htmlData>
      <div class="card-header">
        Liste des entrepots
        <div class="btn-actions-pane-right">
          <div role="group" class="btn-group-sm btn-group">
            <!--              <form >-->
            <!--                <input type="text" placeholder="Rechercher..." class="form-control form-control-sm">-->
            <!--              </form>-->
          </div>
        </div>

        <div class="btn-actions-pane-right">
          <div role="group" class="btn-group-sm btn-group">
            <div >
              <!--                <form >-->
              <!--                  <div class="form-row">-->

              <!--                    <div class="col-md-5">-->
              <!--                      <input type="date" placeholder="BCP002" class="form-control form-control-sm" formControlName="date1">-->
              <!--                    </div>-->
              <!--                    <div class="col-md-5">-->
              <!--                      <input type="date" placeholder="Electricien" class="form-control form-control-sm" formControlName="date2">-->
              <!--                    </div>-->
              <!--                    <div class="col-md-2">-->
              <!--                      <button class="btn-transition btn btn-sm btn-shadow btn-outline-primary form-control-sm form-control" type="submit"><i class="fa fa-search"></i></button>-->

              <!--                    </div>-->

              <!--                  </div>-->
              <!--                </form>-->
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive" >

        <ng-container class="bg-white">
          <!--            <ng-container *ngSwitchCase="DataState.LOADING_STATE" class="bg-white py-1 px-1">-->
          <!--              <div class="col-md-12 single-note-item text-center bg-white">-->
          <!--                <div class="spinner-border text-primary" role="status"></div>-->
          <!--              </div>-->
          <!--            </ng-container>-->
          <ng-container class="bg-white py-1 px-1">
            <table class="table table-hover bg-white" >
              <thead>
              <tr>
                <th>#</th>
                <th>Ref. interne</th>
                <th>Magasin</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Statut</th>
                <th>Date création</th>
                <th>Date modification</th>
                <th >Actions</th>
              </tr>
              </thead>
              <tbody *ngFor="let storeHouse of storeHouses | paginate: { id: 'entrepot', itemsPerPage: size, currentPage: page, totalItems: totalElements }; let i = index">

              <tr (dblclick)="showDetails(storeHouse)">
                <td>{{i + 1}}</td>
                <td>{{storeHouse.internalReference}}</td>
                <td>{{storeHouse.localisationStore}}</td>
                <td>{{storeHouse.name}}</td>
                <td>{{storeHouse.type}}</td>
                <td>{{getStatuts(storeHouse.status.name)}}</td>
                <td>{{storeHouse.createAt}}</td>
                <td>{{storeHouse.updateAt}}</td>
                <td >
<!--                  <a style="cursor: pointer"  class="delete text-danger" (click)="deleteStoreHouse(storeHouse, i)" >-->
<!--                    <i class="pe-7s-trash" title="supprimer"></i>-->
<!--                  </a>&nbsp;-->
                  <a style="cursor: pointer"  class="text-primary" (click)="updateStoreHouseModal(mymodal, storeHouse)">
                    <i class="pe-7s-eyedropper" title="modifier"></i>
                  </a>
                </td>
              </tr>
            </table>
            <div class="text-center">
            <p *ngIf="storeHouses.length === 0" style="color: grey; font-size: 1.8rem;" class="mx-auto" >Aucun entrepôt trouvé !</p>
          </div>
            <div class="card-footer">
              <div class="btn-actions-pane-left">
                <div role="group" class="btn-group-sm btn-group">
                  Total Entrepots: <b>{{ totalElements }} </b>
                </div>
              </div>

              <div class="btn-actions-pane-right">
                <div role="group" class="btn-group-sm btn-group">
                  <!--              <pagination-controls id="client" (pageChange)="pageChange($event)" ></pagination-controls>-->
                  <pagination-controls
                    id="entrepot"
                    previousLabel="Précédent"
                    nextLabel="Suivant"
                    (pageChange)="pageChange($event)"></pagination-controls>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal >
  <div class="modal-header">
    <h6 class="modal-title timeline-title" id="modal-basic-title"><b>{{modalTitle}}</b> </h6>
    <div class="close vertical-timeline-element-content bounce-in" (click)=" modal.close('save click')" >
      <p><i class="fa fa-times"></i></p>
    </div>
  </div>
  <div class="modal-body">
    <div class="">
      <div class="">
        <form [formGroup]="storeHouseForm">
          <div class="row">
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="store" class="">Magasin</label>
                <input type="text" ngModel="{{storeHouse.localisationStore}}" autocomplete="off" id="store" class="form-control" formControlName="store" placeholder="choisir un magasin" list="storeListOption">
                <datalist id="storeListOption">
                  <option *ngFor="let store of stores" [value]="store.localization"></option>
                </datalist>
              </div>
              <div *ngIf="storeHouseForm.controls['store'].invalid && (storeHouseForm.controls['store'].dirty || storeHouseForm.controls['store'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="storeHouseForm.controls['store'].errors?.['required']" class="ml-3">
                  le magasin est obligatoire.
                </div>
<!--                <div *ngIf="storeHouseForm.controls['store'].errors?.['email']" class="ml-3">-->
<!--                  entrez une email valide : example@example.com-->
<!--                </div>-->
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="type" class="">Type</label>
                <select name="select" ngModel="{{storeHouse.type}}" id="type" class="form-control" formControlName="type">
                  <option value="" selected disabled hidden>Sélectionner un type</option>
                  <option *ngFor="let type of storeHouseType" value="{{type}}">{{type}}</option>
                </select>
              </div>
              <div *ngIf="storeHouseForm.controls['type'].invalid && (storeHouseForm.controls['type'].dirty || storeHouseForm.controls['type'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="storeHouseForm.controls['type'].errors?.['required']" class="ml-3">
                  le nom est obligatoire.
                </div>
                <div *ngIf="storeHouseForm.controls['type'].errors?.['minLength']" class="ml-3">
                  entrez un nom valide : example@example.com
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="name" class="">Nom de l'entrepôt</label>
                <input type="text" ngModel="{{storeHouse.name}}" id="name" class="form-control" formControlName="name" placeholder="Entrer un nom">
<!--                <select name="select" ngModel="{{storeHouse.name}}" id="name" class="form-control" formControlName="name">-->
<!--                  <option value="" selected disabled hidden>Sélectionner un type</option>-->
<!--                  <option *ngFor="let type of storeHouseType" value="{{type}}">{{type}}</option>-->
<!--                </select>-->
              </div>
              <div *ngIf="storeHouseForm.controls['name'].invalid && (storeHouseForm.controls['name'].dirty || storeHouseForm.controls['name'].touched)"
                   class="mb-2"  style="color: #f65656; font-style: italic;">

                <div *ngIf="storeHouseForm.controls['name'].errors?.['required']" class="ml-3">
                  le nom est obligatoire.
                </div>
                <div *ngIf="storeHouseForm.controls['name'].errors?.['minLength']" class="ml-3">
                  entrez un nom d'au moins 4 lettres
                </div>
              </div>
            </div>
          </div>
          <button class="mt-1 btn btn-secondary float-right ml-3" (click)="annuler()" ><i class="pe-7s-back"></i> Annuler</button>
          <button class="mt-1 btn btn-primary float-right" [disabled]="storeHouseForm.invalid || (isLoading$ | async)"
                  (click)="modalTitle == 'Enregistrer un nouvel entrepot' ? saveStoreHouse() : updateStoreHouse()">
            <i *ngIf="isLoading$ | async" class="fa fa-spinner fa-spin"></i>&nbsp;
            <span *ngIf="isLoading$ | async">Enregistrement ...</span>
            <span *ngIf="!(isLoading$ | async)">{{modalTitle == 'Enregistrer un nouvel entrepot' ? 'Enregistrer entrepot' : 'Modifier entrepot'}}</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
