.ng-invalid.ng-dirty{
  border-color: red;
}
.ng-invalid.ng-touched{
  border-color: red;
}

::ng-deep {
  .ngx-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ngx-pagination li {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &.small-screen {
    display: none;
  }

  //&.pagination-previous, &.pagination-next
  //{a, span {
  //      border-radius: 50%;
  //      overflow: hidden;
  //    }}
  }


