
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-paint-bucket icon-gradient bg-night-fade">
        </i>
      </div>
      <div>Station de {{station.designation}}
        <div class="page-title-subheading">Réference interne: #{{station.internalReference}}</div>
        <div class="page-title-subheading">Solde: {{station.balance}} XAF</div>
      </div>
    </div>
    <div class="page-title-actions">
      <button (click)="back()" type="button" data-toggle="tooltip" title="cartons" data-placement="bottom"
              class="btn-shadow mr-3 btn btn-outline-dark">
           <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-backward fa-w-20"></i>
                                        </span>
        Retour
      </button>
    </div>
  </div>
</div>

<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
  <li class="nav-item">
    <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
      <span>Notes de crédit</span>
    </a>
  </li>
  <li class="nav-item" >
    <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
      <span>Coupons</span>
    </a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
    <div class="row">
      <div class="col-md-12">
        <div class="main-card mb-3 card " id="htmlData" #htmlData>
          <div class="card-header">
            Liste de ses notes de credit
          </div>

          <div class="table-responsive"  >

            <ng-container class="bg-white">
              <ng-container class="bg-white py-1 px-1">
                <table class="table table-hover bg-white" >
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Ref. interne</th>
                    <th>Statut</th>
                    <th>Date</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let credit of creditNotes ; let i = index">

                  <tr>
                    <td>{{i + 1}}</td>
                    <td>{{credit.internalReference}}</td>
                    <td>{{credit.status.name}}</td>
                    <td> {{credit.createdAt | date: 'dd/MM/yyyy'}}</td>
                  </tr>
                  </tbody>
                </table>
                <div class="text-center">
                  <p *ngIf="creditNotes.length === 0" style="color: grey; font-size: 1.8rem;" class="mx-auto" >Aucune note de crédit trouvée pour cette station !</p>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="card-footer">
            <div class="btn-actions-pane-left">
              <div role="group" class="btn-group-sm btn-group">
                Total: <b>{{ creditNotes.length }} </b>
              </div>
            </div>
            <div class="btn-actions-pane-right">
              <div role="group" class="btn-group-sm btn-group">
                <!--              <pagination-controls id="client" (pageChange)="pageChange($event)" ></pagination-controls>-->
<!--                <pagination-controls-->
<!--                  id="creditDetail"-->
<!--                  previousLabel="Précédent"-->
<!--                  nextLabel="Suivant"-->
<!--                  (pageChange)="pageChange($event)"></pagination-controls>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane tabs-animation fade show" id="tab-content-1" role="tabpanel">
    <div class="row">
      <div class="col-md-12">
        <div class="main-card mb-3 card " id="htmlData" #htmlData>
          <div class="card-header">
            Liste de ses coupons
          </div>

          <div class="table-responsive"  >

            <ng-container class="bg-white">
              <ng-container class="bg-white py-1 px-1">
                <table class="table table-hover bg-white" >
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Ref. interne</th>
                    <th>Numéro de série</th>
                    <th>Coupon</th>
                    <th>Client</th>
                    <th>Ticket</th>
                    <th>Carnet</th>
                    <th>Station</th>
                    <th>Statut</th>
                    <th>Date création</th>
                    <th>Date modification</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let coupon of coupons | paginate: { id: 'coupon',itemsPerPage: size, currentPage: pageCoupon, totalItems: totalElementsCoupon }; let i = index">

                  <tr>
                    <td>{{i + 1}}</td>
                    <td>{{coupon.internalReference}}</td>
                    <td>{{ padWithZero(coupon.serialNumber, 7)}}</td>
                    <td><span *ngFor="let v of vouchers">{{v.internalReference == coupon.idTypeVoucher ? v.amount : ''}}</span></td>
                    <td>{{coupon.idClient}}</td>
                    <td>{{coupon.idTicket}}</td>
                    <td>{{coupon.idNotebook}}</td>
                    <td>{{coupon.idStation}}</td>
                    <td>{{getStatuts(coupon.status.name)}}</td>
                    <td>{{coupon.createdAt}}</td>
                    <td>{{coupon.updateAt}}</td>
                  </tr>
                </table>
                <div class="text-center">
                  <p *ngIf="creditNotes.length === 0" style="color: grey; font-size: 1.8rem;" class="mx-auto" >Aucun coupon trouvé pour cette station !</p>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="card-footer">
            <div class="btn-actions-pane-left">
              <div role="group" class="btn-group-sm btn-group">
                Total: <b>{{ creditNotes.length }} </b>
              </div>
            </div>
            <div class="btn-actions-pane-right">
              <div role="group" class="btn-group-sm btn-group">
                <!--              <pagination-controls id="client" (pageChange)="pageChange($event)" ></pagination-controls>-->
                <!--                <pagination-controls-->
                <!--                  id="creditDetail"-->
                <!--                  previousLabel="Précédent"-->
                <!--                  nextLabel="Suivant"-->
                <!--                  (pageChange)="pageChange($event)"></pagination-controls>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
