<div class="app-wrapper-footer">
  <div class="app-footer">
    <div class="app-footer__inner">
      <div class="app-footer-left">
        <ul class="header-megamenu nav">
<!--          <li class="nav-item">-->
<!--              <img src="assets/images/logo-removebg-preview.png" data-placement="top" class="nav-link" width="60" alt="">-->
<!--          </li>-->
          <li class="nav-item">
            <a data-placement="bottom" class="nav-link">
              <div class="widget-content-left mr-3">
                <div class="widget-content-left"><img width="52"
                                                      src="assets/images/logo-removebg-preview.png"
                                                      alt=""></div>
              </div>
              <div class="widget-content-left flex2">
                <div class="widget-heading">Gestion des coupons de carburant</div>
<!--                <div class="widget-subheading opacity-10"><span class="pr-2"><b>43</b> Sales</span><span><b class="text-success">$156,24</b> Totals</span></div>-->
              </div>
            </a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a data-placement="bottom" class="nav-link">-->
<!--              Gestion des coupons de carburant-->
<!--            </a>-->
<!--          </li>-->
        </ul>
      </div>
      <div class="app-footer-right">
        <ul class="header-megamenu nav">
          <li class="nav-item">
            <a data-placement="top" class="nav-link">
              Gulfcam &copy; 2022
            </a>
          </li>
          <li class="nav-item">
            <a data-placement="top" class="nav-link">
              Version 1.0
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
