
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-note2 icon-gradient bg-night-fade">
        </i>
      </div>
      <div>Gestion des carnets
        <div class="page-title-subheading">Managez vos carnets</div>
      </div>
    </div>
    <div class="page-title-actions">
      <div class="d-inline-block ">
<!--        <button type="button" data-toggle="tooltip" title="nouveau carton" class="btn-shadow mr-3 btn btn-primary" (click)="open(mymodal)">-->
<!--                                        <span class="btn-icon-wrapper pr-2 opacity-7">-->
<!--                                            <i class="fa fa-plus fa-w-20"></i>-->
<!--                                        </span>-->
<!--          Carton-->
<!--        </button>-->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card " id="htmlData" #htmlData>
      <div class="card-header">
        Liste des carnets
      </div>

      <div class="table-responsive" >

        <ng-container class="bg-white" *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
          <ng-container class="bg-white" *ngSwitchCase="DataState.LOADING_STATE">
            <div class="col-md-12 text-center my-3">
              <!--                <div class="spinner-border text-primary my-3" role="status"></div>-->
              <div class="ball-clip-rotate">
                <div style="background-color: rgb(68, 64, 84);"></div>
              </div>
            </div>
          </ng-container>
          <ng-container class="bg-white py-1 px-1" *ngSwitchCase="DataState.LOADED_STATE">
            <table class="table table-hover bg-white" >
              <thead>
              <tr>
                <th>#</th>
                <th>Ref. interne</th>
                <th>Numéro de série</th>
                <th>Carton</th>
                <th>Entrepôt</th>
                <th>Magasinier</th>
                <th>Statut</th>
                <th>Date création</th>
                <th>Date modification</th>
<!--                <th>Actions</th>-->
              </tr>
              </thead>
              <tbody *ngFor="let carnet of appState.appData.content | paginate: { id: 'carnet', itemsPerPage: appState.appData.size, currentPage: page, totalItems: appState.appData.totalElements }; let i = index">
              <tr>
                <td>{{i + 1}}</td>
                <td>{{carnet.internalReference}}</td>
                <td>{{carnet.serialNumber}}</td>
                <td >
                  <span *ngFor="let carton of cartons">
                    {{(carton.internalReference === carnet.idCarton ? carton.number : '')}}
                  </span>
                </td>
                <td >
                  <span *ngFor="let storeHouse of storeHouses">{{storeHouse.internalReference === carnet.idStoreHouse ? storeHouse.localisationStore : ''}}</span>
                </td>
                <td>{{carnet.idStoreKeeper}}</td>
                <td>{{getStatuts(carnet.status.name)}}</td>
                <td>{{carnet.createdAt | date: 'dd/MM/yyyy à hh:mm'}}</td>
                <td>{{carnet.updateAt | date: 'dd/MM/yyyy à hh:mm'}}</td>
              </tr>
            </table>
            <div class="text-center">
              <p *ngIf="!appState.appData.content.length" style="color: grey; font-size: 1.8rem;" class="mx-auto" >Aucun Carnet trouvé !</p>
            </div>
            <div class="card-footer">
              <div class="btn-actions-pane-left">
                <div role="group" class="btn-group-sm btn-group">
                  Total carnets: <b>{{ appState.appData.totalElements }} </b>
                </div>
              </div>
              <div class="btn-actions-pane-right">
                <div role="group" class="btn-group-sm btn-group">
                  <!--              <pagination-controls id="client" (pageChange)="pageChange($event)" ></pagination-controls>-->
                  <pagination-controls
                    id="carnet"
                    previousLabel="Précédent"
                    nextLabel="Suivant"
                    (pageChange)="pageChange($event)"></pagination-controls>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container class="bg-white"  *ngSwitchCase="DataState.ERROR_STATE">
            <div class="col-md-12 text-center">
              <div class="text-danger" >{{appState.error}}</div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

