
<div class="app-page-title" *ngIf="user">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="pe-7s-users icon-gradient bg-night-fade">
        </i>
      </div>
      <div>Détails de l'utilisateur
        <div class="page-title-subheading">Aperçu</div>
      </div>
    </div>
<!--    <div class="page-title-actions">-->
<!--      <div class="d-inline-block ">-->
<!--        <button  type="button" data-toggle="tooltip" title="supprimer utilisateur" class="btn-shadow btn btn-danger mr-3">-->
<!--                                        <span class="btn-icon-wrapper pr-2 opacity-7">-->
<!--                                            <i class="fa fa-times fa-w-20"></i>-->
<!--                                        </span>-->
<!--          supprimer-->
<!--        </button>-->
<!--        <button  type="button" data-toggle="tooltip" title="modifier utilisateur" class="btn-shadow btn btn-primary mr-3">-->
<!--                                        <span class="btn-icon-wrapper pr-2 opacity-7">-->
<!--                                            <i class="fa fa-times fa-w-20"></i>-->
<!--                                        </span>-->
<!--          modifier-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>

<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
  <li class="nav-item">
    <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
      <span>Détails</span>
    </a>
  </li>
  <li class="nav-item">
    <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
      <span>Modifier</span>
    </a>
  </li>
<!--  <li class="nav-item">-->
<!--    <a role="tab" class="nav-link" id="tab-2" data-toggle="tab" href="#tab-content-2">-->
<!--      <span>Supprimer</span>-->
<!--    </a>-->
<!--  </li>-->
</ul>

<div class="tab-content">
  <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
    <div class="row">
      <div class="col-md-6">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <h5 class="card-title">Référence Interne: {{user.internalReference}}</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                  <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
<span class="vertical-timeline-element-icon bounce-in">
<i class="badge badge-dot badge-dot-xl badge-success"> </i>
</span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Nom</h4>
                        <p>{{user.lastName}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
<span class="vertical-timeline-element-icon bounce-in">
<i class="badge badge-dot badge-dot-xl badge-success"> </i>
</span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Prénom</h4>
                        <p>{{user.firstName}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
<span class="vertical-timeline-element-icon bounce-in">
<i class="badge badge-dot badge-dot-xl badge-success"> </i>
</span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Email</h4>
                        <p>{{user.email}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
<span class="vertical-timeline-element-icon bounce-in">
<i class="badge badge-dot badge-dot-xl badge-success"> </i>
</span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Téléphone</h4>
                        <p>{{user.telephone}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
<span class="vertical-timeline-element-icon bounce-in">
<i class="badge badge-dot badge-dot-xl badge-success"> </i>
</span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Code pin</h4>
                        <p>{{user.pinCode}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                  <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
<span class="vertical-timeline-element-icon bounce-in">
<i class="badge badge-dot badge-dot-xl badge-success"> </i>
</span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Fonction</h4>
                        <p>{{user.position}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
                      <span class="vertical-timeline-element-icon bounce-in">
                      <i class="badge badge-dot badge-dot-xl badge-success"> </i>
                      </span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Type de compte</h4>
                        <p>{{getStatusAccount(typeAccount)}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
<span class="vertical-timeline-element-icon bounce-in">
<i class="badge badge-dot badge-dot-xl badge-success"> </i>
</span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Statut</h4>
                        <p>{{getStatus(statusUser)}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
<span class="vertical-timeline-element-icon bounce-in">
<i class="badge badge-dot badge-dot-xl badge-success"> </i>
</span>
                      <div class="vertical-timeline-element-content bounce-in">
                        <h4 class="timeline-title">Rôle</h4>
                        <p *ngFor="let role of user.roles">{{getRole(role.name)}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-warning text-center mt-3" (click)="enableDesable()">{{statusUser === "USER_ENABLED" ? 'Désactiver' : 'Activer'}}</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
    <div class="row">
      <div class="col-md-12">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <h5 class="card-title">Modifier utilisateur</h5>
            <form [formGroup]="updateUser">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <label>Email</label>
                    <input id="exampleEmail" placeholder="Email..." type="email" name="email" class="form-control form-control-sm"
                           formControlName="email" [(ngModel)]="user.email">
                  </div>
                  <div *ngIf="form['email'].invalid && (form['email'].dirty || form['email'].touched)"
                       class="mb-2"  style="color: #f65656; font-style: italic;">

                    <div *ngIf="form['email'].errors?.['required']" class="ml-3">
                      l'email est obligatoire.
                    </div>
                    <div *ngIf="form['email'].errors?.['email']" class="ml-3">
                      entrez une email valide : example@example.com
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <label>Téléphone</label>
                    <input id="telephone" placeholder="téléphone..." type="text" name="telephone" class="form-control form-control-sm"
                           formControlName="telephone" [(ngModel)]="user.telephone">
                  </div>
                  <div *ngIf="form['telephone'].invalid && (form['telephone'].dirty || form['telephone'].touched)"
                       class="mb-2"  style="color: #f65656; font-style: italic;">

                    <div *ngIf="form['telephone'].errors?.['required']" class="ml-3">
                      le numéro de téléphone est obligatoire.
                    </div>
                    <div *ngIf="form['telephone'].errors?.['pattern']" class="ml-3">
                      Le numéro de téléphone doit comporter 9 chiffres commençant par 2 ou par 6
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <label>Code pin</label>
                    <input id="pinCode" placeholder="Code pin" type="text" name="pinCode" class="form-control form-control-sm"
                           formControlName="pinCode" [(ngModel)]="user.pinCode">
                  </div>
                  <div *ngIf="form['pinCode'].invalid && (form['pinCode'].dirty || form['pinCode'].touched)"
                       class="mb-2"  style="color: #f65656; font-style: italic;">

                    <div *ngIf="form['pinCode'].errors?.['required']" class="ml-3">
                      le code pin est obligatoire.
                    </div>
                    <div *ngIf="form['pinCode'].errors?.['pattern']" class="ml-3">
                      Le code pin est un nombre
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <!--                        <input id="idStore" placeholder="Magasin" type="text" name="idStore" class="form-control form-control-sm"  formControlName="idStore">-->
<!--                    <input type="text" id="clientref" class="form-control" formControlName="idStore" placeholder="choisir un magasin" -->
<!--                           list="storeListOption"  [(ngModel)]="user.idStore">-->
                    <label>Magasin</label>
                    <select  [(ngModel)]="user.idStore" formControlName="idStore" class="form-control form-control-sm">
                      <option *ngFor="let store of stores" [value]="user.idStore">{{store.localization}}</option>
                    </select>
                  </div>
                  <div *ngIf="form['idStore'].invalid && (form['idStore'].dirty || form['idStore'].touched)"
                       class="mb-2"  style="color: #f65656; font-style: italic;">

                    <div *ngIf="form['idStore'].errors?.['required']" class="ml-3">
                      le magasin est obligatoire.
                    </div>
                    <!--                        <div *ngIf="form['idStore'].errors?.['pattern']" class="ml-3">-->
                    <!--                          Le magasin est un nombre-->
                    <!--                        </div>-->
                  </div>
                </div>
<!--                <div class="col-md-12">-->
<!--                  <div class="position-relative form-group">-->
<!--                    <input  id="examplePassword" name="pwd" placeholder="Mot de passe" type="password" class="form-control form-control-sm"-->
<!--                            [(ngModel)]="user.email" formControlName="password"></div>-->
<!--                  <div *ngIf="form['password'].invalid && (form['password'].dirty || form['password'].touched)"-->
<!--                       class=""  style="color: #f65656; font-style: italic;">-->

<!--                    <div *ngIf="form['password'].errors?.['required']" class="ml-3">-->
<!--                      le mot de passe est obligatoire.-->
<!--                    </div>-->
<!--                    <div *ngIf="form['password'].errors?.['pattern']" class="ml-3">-->
<!--                      au moins 8 caractères avec 1 minuscule, 1 majuscule et 1 caractère spécial-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <label>Nom</label>
                    <input  id="firstName" placeholder="Nom" type="text" class="form-control form-control-sm" formControlName="firstName"
                            [(ngModel)]="user.firstName"></div>
                  <div *ngIf="form['firstName'].invalid && (form['firstName'].dirty || form['firstName'].touched)"
                       class=""  style="color: #f65656; font-style: italic;">

                    <div *ngIf="form['firstName'].errors?.['required']" class="ml-3">
                      le nom est obligatoire.
                    </div>
                    <div *ngIf="form['firstName'].errors?.['minlength']" class="ml-3">
                      le nom doit comporter au moins 4 caractères..
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <label>Prénom</label>
                    <input  id="lastName" placeholder="Prénom" type="text" class="form-control form-control-sm" formControlName="lastName"
                            [(ngModel)]="user.lastName"></div>
                  <div *ngIf="form['lastName'].invalid && (form['lastName'].dirty || form['lastName'].touched)"
                       class=""  style="color: #f65656; font-style: italic;">

                    <div *ngIf="form['lastName'].errors?.['required']" class="ml-3">
                      le prénom est obligatoire.
                    </div>
                    <div *ngIf="form['lastName'].errors?.['minlength']" class="ml-3">
                      le prénom doit comporter au moins 4 caractères..
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <label>Poste</label>
                    <input  id="position" placeholder="Poste occupé" type="text" class="form-control form-control-sm"
                            [(ngModel)]="user.position" formControlName="position"></div>
                  <div *ngIf="form['position'].invalid && (form['position'].dirty || form['position'].touched)"
                       class=""  style="color: #f65656; font-style: italic;">

                    <div *ngIf="form['position'].errors?.['required']" class="ml-3">
                      le nom est obligatoire.
                    </div>
                    <div *ngIf="form['position'].errors?.['minlength']" class="ml-3">
                      le nom doit comporter au moins 4 caractères..
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <label>Type de compte</label>
<!--                    <input  id="position" placeholder="Poste occupé" type="text" class="form-control form-control-sm"-->
<!--                            [(ngModel)]="user.position" formControlName="position">-->
                    <select  [(ngModel)]="typeAccount" formControlName="typeAccount" class="form-control form-control-sm">
                      <option >{{typeAccount}}</option>
                    </select>
                  </div>
                  <div *ngIf="form['position'].invalid && (form['position'].dirty || form['position'].touched)"
                       class=""  style="color: #f65656; font-style: italic;">

                    <div *ngIf="form['position'].errors?.['required']" class="ml-3">
                      le nom est obligatoire.
                    </div>
                    <div *ngIf="form['position'].errors?.['minlength']" class="ml-3">
                      le nom doit comporter au moins 4 caractères...
                    </div>
                  </div>
                </div>
                <div class="float-right">

                  <button type="submit" class="btn btn-primary" [disabled]="updateUser.invalid || (isLoading$ | async)"  (click)="onSubmit()">
                    <i *ngIf="isLoading$ | async" class="fa fa-spinner fa-spin"></i>&nbsp;
                    <span *ngIf="isLoading$ | async">Enregistrement...</span>
                    <span *ngIf="!(isLoading$ | async)">Modifier</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

